/* css styles */
/* Centrer les éléments du menu */
.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Évite que le titre pousse le menu à gauche */
.navbar-brand {
  margin-right: auto;
}


p {
  text-align: justify;
}
